-- =====================================================
-- POPULATE SAMPLE DATA - CalloutRacing (FIXED VERSION)
-- This script populates the database with realistic sample data
-- Fixed to handle foreign key dependencies properly
-- =====================================================

-- First, let's fix the django_content_type table
ALTER TABLE django_content_type ADD COLUMN IF NOT EXISTS name VARCHAR(100);
UPDATE django_content_type SET name = CONCAT(app_label, '.', model) WHERE name IS NULL;
ALTER TABLE django_content_type ALTER COLUMN name SET NOT NULL;

-- =====================
-- POPULATE USERS
-- =====================

-- Create sample users

-- Create user profiles

-- =====================
-- POPULATE TRACKS
-- =====================


-- =====================
-- POPULATE EVENTS (FIRST - before callouts and race results)
-- =====================


-- =====================
-- POPULATE CALLOUTS (AFTER events are created)
-- =====================


-- =====================
-- POPULATE RACE RESULTS (AFTER events are created)
-- =====================


-- =====================
-- POPULATE SOCIAL FEATURES
-- =====================

-- Follow relationships
INSERT INTO core_follow (follower_id, following_id) VALUES
(2, 3), (2, 4), (2, 5),
(3, 2), (3, 6), (3, 7),
(4, 2), (4, 3), (4, 8),
(5, 2), (5, 4), (5, 9),
(6, 3), (6, 4), (6, 10),
(7, 2), (7, 5), (7, 11),
(8, 4), (8, 6), (8, 9),
(9, 5), (9, 7), (9, 10),
(10, 6), (10, 8), (10, 11),
(11, 7), (11, 9), (11, 10)
ON CONFLICT DO NOTHING;

-- Friendships
INSERT INTO core_friendship (sender_id, receiver_id, status) VALUES
(2, 3, 'accepted'), (2, 4, 'accepted'), (2, 5, 'pending'),
(3, 6, 'accepted'), (3, 7, 'accepted'), (3, 8, 'pending'),
(4, 9, 'accepted'), (4, 10, 'accepted'), (4, 11, 'pending'),
(5, 6, 'accepted'), (5, 7, 'pending'), (5, 8, 'accepted'),
(6, 9, 'accepted'), (6, 10, 'accepted'), (6, 11, 'pending')
ON CONFLICT DO NOTHING;

-- User posts

-- Post comments

-- =====================
-- POPULATE MARKETPLACE
-- =====================

-- Listing categories

-- Marketplace listings

-- =====================
-- POPULATE CAR PROFILES
-- =====================


-- =====================
-- POPULATE NOTIFICATIONS
-- =====================


-- =====================
-- POPULATE MESSAGES
-- =====================


-- =====================
-- POPULATE WALLETS
-- =====================

INSERT INTO core_userwallet (user_id, balance) VALUES
(2, 2500.00),
(3, 1800.00),
(4, 3200.00),
(5, 1500.00),
(6, 2100.00),
(7, 2800.00),
(8, 900.00),
(9, 1900.00),
(10, 3500.00),
(11, 1200.00)
ON CONFLICT (user_id) DO NOTHING;

-- =====================
-- POPULATE PAYMENT TRANSACTIONS
-- =====================


-- =====================
-- COMPLETION MESSAGE
-- =====================

DO migrate
DECLARE
    user_count INTEGER;
    event_count INTEGER;
    listing_count INTEGER;
    post_count INTEGER;
BEGIN
    SELECT COUNT(*) INTO user_count FROM core_user;
    SELECT COUNT(*) INTO event_count FROM core_event;
    SELECT COUNT(*) INTO listing_count FROM core_marketplace;
    SELECT COUNT(*) INTO post_count FROM core_userpost;
    
    RAISE NOTICE '=====================================================';
    RAISE NOTICE 'SAMPLE DATA POPULATION COMPLETE!';
    RAISE NOTICE '=====================================================';
    RAISE NOTICE 'Users created: %', user_count;
    RAISE NOTICE 'Events created: %', event_count;
    RAISE NOTICE 'Marketplace listings: %', listing_count;
    RAISE NOTICE 'Social posts: %', post_count;
    RAISE NOTICE 'All features now have realistic sample data!';
    RAISE NOTICE 'Ready for testing and demonstration!';
    RAISE NOTICE '=====================================================';
END migrate;

COMMIT;
