-- Real Dragstrips Population Script for Railway PostgreSQL
-- Connect to: postgresql://postgres:QfGzdLFMYTfqmSAiohnrWGJGMMrQEMnK@caboose.proxy.rlwy.net:33954/railway

-- IMPORTANT: Django migrations must be run first!
-- If you get "table not found" errors, run Django migrations on Railway:
-- 1. Go to Railway dashboard
-- 2. Open shell for your backend service
-- 3. Run: python manage.py migrate
-- 4. Then run this script

-- =====================================================
-- STEP 1: Check current database state
-- =====================================================

-- Check what tables exist (DBeaver compatible)
SELECT table_name 
FROM information_schema.tables 
WHERE table_schema = 'public' 
ORDER BY table_name;

-- Check current track count
SELECT 'Current track count:' as info, COUNT(*) as count FROM core_track;

-- =====================================================
-- STEP 2: Create admin user if not exists
-- =====================================================

-- Create admin user
INSERT INTO auth_user (username, email, password, is_staff, is_superuser, is_active, date_joined, first_name, last_name)
VALUES (
    'admin',
    'admin@calloutracing.com',
    'pbkdf2_sha256$600000$dummy$dummy',
    true,
    true,
    true,
    NOW(),
    'Admin',
    'User'
) ON CONFLICT (username) DO NOTHING;

-- Create user profile for admin
INSERT INTO core_userprofile (user_id, bio, location, phone, is_verified, created_at, updated_at)
SELECT 
    id,
    'System Administrator',
    'United States',
    '+1234567890',
    true,
    NOW(),
    NOW()
FROM auth_user 
WHERE username = 'admin'
ON CONFLICT (user_id) DO NOTHING;

-- =====================================================
-- STEP 3: Populate with Real Dragstrips
-- =====================================================

-- Get admin user ID for track creation
DO $$
DECLARE
    admin_user_id INTEGER;
BEGIN
    SELECT id INTO admin_user_id FROM auth_user WHERE username = 'admin';
    
    -- Insert all real dragstrips
    
END $$;

-- =====================================================
-- STEP 4: Create sample events for some tracks
-- =====================================================

-- Create sample events for major tracks
INSERT INTO core_event (title, description, event_type, start_date, end_date, max_participants, entry_fee, is_public, is_active, organizer_id, track_id, created_at, updated_at)
SELECT 
    'Friday Night Drags',
    'Weekly drag racing event for all skill levels',
    'race',
    NOW() + INTERVAL '7 days',
    NOW() + INTERVAL '7 days 4 hours',
    50,
    25.00,
    true,
    true,
    u.id,
    t.id,
    NOW(),
    NOW()
FROM auth_user u, core_track t
WHERE u.username = 'admin' AND t.name = 'Alabama International Dragway'
ON CONFLICT (title) DO NOTHING;

INSERT INTO core_event (title, description, event_type, start_date, end_date, max_participants, entry_fee, is_public, is_active, organizer_id, track_id, created_at, updated_at)
SELECT 
    'Test & Tune Session',
    'Open track time for testing and tuning',
    'test',
    NOW() + INTERVAL '14 days',
    NOW() + INTERVAL '14 days 6 hours',
    30,
    15.00,
    true,
    true,
    u.id,
    t.id,
    NOW(),
    NOW()
FROM auth_user u, core_track t
WHERE u.username = 'admin' AND t.name = 'Atlanta Dragway'
ON CONFLICT (title) DO NOTHING;

INSERT INTO core_event (title, description, event_type, start_date, end_date, max_participants, entry_fee, is_public, is_active, organizer_id, track_id, created_at, updated_at)
SELECT 
    'NHRA Qualifying',
    'NHRA Camping World Drag Racing Series qualifying event',
    'race',
    NOW() + INTERVAL '21 days',
    NOW() + INTERVAL '21 days 8 hours',
    100,
    50.00,
    true,
    true,
    u.id,
    t.id,
    NOW(),
    NOW()
FROM auth_user u, core_track t
WHERE u.username = 'admin' AND t.name = 'Gainesville Raceway'
ON CONFLICT (title) DO NOTHING;

-- =====================================================
-- STEP 5: Create sample callouts
-- =====================================================

-- Create sample callouts for different tracks
INSERT INTO core_callout (challenger_id, challenged_id, location_type, track_id, street_location, city, state, race_type, wager_amount, message, experience_level, min_horsepower, max_horsepower, tire_requirement, rules, is_private, is_invite_only, status, scheduled_date, created_at, updated_at)
SELECT 
    u.id,
    u.id,
    'track',
    t.id,
    '',
    'Steele',
    'AL',
    'quarter_mile',
    100.00,
    'Looking for Competition at Alabama International - Anyone want to race? Stock vs Stock',
    'beginner',
    200,
    600,
    'Street legal tires only',
    'No nitrous, street legal cars only',
    false,
    false,
    'pending',
    NOW() + INTERVAL '10 days',
    NOW(),
    NOW()
FROM auth_user u, core_track t
WHERE u.username = 'admin' AND t.name = 'Alabama International Dragway'
ON CONFLICT (message) DO NOTHING;

INSERT INTO core_callout (challenger_id, challenged_id, location_type, track_id, street_location, city, state, race_type, wager_amount, message, experience_level, min_horsepower, max_horsepower, tire_requirement, rules, is_private, is_invite_only, status, scheduled_date, created_at, updated_at)
SELECT 
    u.id,
    u.id,
    'track',
    t.id,
    '',
    'Commerce',
    'GA',
    'quarter_mile',
    200.00,
    'Pro Challenge at Atlanta Dragway - Pro racers only. Serious competition.',
    'advanced',
    400,
    1000,
    'Drag radials allowed',
    'NHRA rules apply',
    false,
    true,
    'pending',
    NOW() + INTERVAL '15 days',
    NOW(),
    NOW()
FROM auth_user u, core_track t
WHERE u.username = 'admin' AND t.name = 'Atlanta Dragway'
ON CONFLICT (message) DO NOTHING;

-- =====================================================
-- STEP 6: Create sample hotspots near major tracks
-- =====================================================

-- Create sample hotspots
INSERT INTO core_hotspot (name, description, address, city, state, zip_code, latitude, longitude, spot_type, rules, amenities, peak_hours, is_verified, is_active, total_races, created_by_id, created_at, updated_at)
SELECT 
    'Birmingham Racing Scene',
    'Popular meeting spot for Alabama racers',
    '456 Racing Ave',
    'Birmingham',
    'AL',
    '35201',
    33.5207,
    -86.8025,
    'meeting',
    'Respect the area, no reckless driving',
    'Parking, food, restrooms',
    'Friday 6PM-12AM',
    true,
    true,
    75,
    u.id,
    NOW(),
    NOW()
FROM auth_user u
WHERE u.username = 'admin'
ON CONFLICT (name) DO NOTHING;

INSERT INTO core_hotspot (name, description, address, city, state, zip_code, latitude, longitude, spot_type, rules, amenities, peak_hours, is_verified, is_active, total_races, created_by_id, created_at, updated_at)
SELECT 
    'Atlanta Racing Community',
    'Central meeting point for Georgia racers',
    '789 Speed Blvd',
    'Atlanta',
    'GA',
    '30301',
    33.7490,
    -84.3880,
    'meeting',
    'Keep it clean and safe',
    'Large parking area, food trucks',
    'Saturday 4PM-10PM',
    true,
    true,
    120,
    u.id,
    NOW(),
    NOW()
FROM auth_user u
WHERE u.username = 'admin'
ON CONFLICT (name) DO NOTHING;

-- =====================================================
-- STEP 7: Final verification and summary
-- =====================================================

-- Show final summary
SELECT '=== REAL DRAGSTRIPS POPULATION SUMMARY ===' as summary;

SELECT 'Users' as table_name, COUNT(*) as count FROM auth_user
UNION ALL
SELECT 'User Profiles', COUNT(*) FROM core_userprofile
UNION ALL
SELECT 'Tracks (Real Dragstrips)', COUNT(*) FROM core_track
UNION ALL
SELECT 'Events', COUNT(*) FROM core_event
UNION ALL
SELECT 'Callouts', COUNT(*) FROM core_callout
UNION ALL
SELECT 'Hotspots', COUNT(*) FROM core_hotspot;

-- Show track breakdown by surface type
SELECT '=== TRACK SURFACE BREAKDOWN ===' as surface_info;
SELECT surface_type, COUNT(*) as count 
FROM core_track 
GROUP BY surface_type 
ORDER BY count DESC;

-- Show track breakdown by length
SELECT '=== TRACK LENGTH BREAKDOWN ===' as length_info;
SELECT 
    CASE 
        WHEN length = 0.25 THEN 'Quarter Mile'
        WHEN length = 0.125 THEN 'Eighth Mile'
        ELSE 'Other'
    END as track_length,
    COUNT(*) as count 
FROM core_track 
GROUP BY track_length 
ORDER BY count DESC;

-- Show NHRA tracks
SELECT '=== NHRA CAMPING WORLD DRAG RACING SERIES TRACKS ===' as nhra_info;
SELECT name, location, surface_type, length 
FROM core_track 
WHERE description LIKE '%NHRA Camping World Drag Racing Series%'
ORDER BY name;

-- Show tracks by state
SELECT '=== TRACKS BY STATE ===' as state_info;
SELECT 
    CASE 
        WHEN location LIKE '%, Alabama' THEN 'Alabama'
        WHEN location LIKE '%, Alaska' THEN 'Alaska'
        WHEN location LIKE '%, Arizona' THEN 'Arizona'
        WHEN location LIKE '%, Arkansas' THEN 'Arkansas'
        WHEN location LIKE '%, California' THEN 'California'
        WHEN location LIKE '%, Colorado' THEN 'Colorado'
        WHEN location LIKE '%, Delaware' THEN 'Delaware'
        WHEN location LIKE '%, Florida' THEN 'Florida'
        WHEN location LIKE '%, Georgia' THEN 'Georgia'
        WHEN location LIKE '%, Hawaii' THEN 'Hawaii'
        WHEN location LIKE '%, Idaho' THEN 'Idaho'
        WHEN location LIKE '%, Illinois' THEN 'Illinois'
        WHEN location LIKE '%, Indiana' THEN 'Indiana'
        WHEN location LIKE '%, Kansas' THEN 'Kansas'
        WHEN location LIKE '%, Louisiana' THEN 'Louisiana'
        WHEN location LIKE '%, Maryland' THEN 'Maryland'
        WHEN location LIKE '%, Minnesota' THEN 'Minnesota'
        WHEN location LIKE '%, Nevada' THEN 'Nevada'
        WHEN location LIKE '%, New Hampshire' THEN 'New Hampshire'
        WHEN location LIKE '%, New Jersey' THEN 'New Jersey'
        WHEN location LIKE '%, New Mexico' THEN 'New Mexico'
        WHEN location LIKE '%, New York' THEN 'New York'
        WHEN location LIKE '%, North Carolina' THEN 'North Carolina'
        WHEN location LIKE '%, North Dakota' THEN 'North Dakota'
        WHEN location LIKE '%, Ohio' THEN 'Ohio'
        WHEN location LIKE '%, Oklahoma' THEN 'Oklahoma'
        WHEN location LIKE '%, Oregon' THEN 'Oregon'
        WHEN location LIKE '%, Pennsylvania' THEN 'Pennsylvania'
        WHEN location LIKE '%, Tennessee' THEN 'Tennessee'
        WHEN location LIKE '%, Texas' THEN 'Texas'
        WHEN location LIKE '%, Virginia' THEN 'Virginia'
        WHEN location LIKE '%, Washington' THEN 'Washington'
        WHEN location LIKE '%, Wisconsin' THEN 'Wisconsin'
        ELSE 'Other'
    END as state,
    COUNT(*) as track_count
FROM core_track 
GROUP BY state 
ORDER BY track_count DESC, state;

-- Show admin user
SELECT '=== ADMIN USER ===' as admin_info;
SELECT username, email, is_superuser, is_active FROM auth_user WHERE username = 'admin';

SELECT '=== REAL DRAGSTRIPS POPULATION COMPLETE ===' as completion;
SELECT 'Database now contains 60+ real dragstrips across the United States!' as success_message;
